[global_config]
  always_split_with_profile = True
[keybindings]
[profiles]
  [[lykius]]
    background_color = "#2c2c2c"
    background_darkness = 0.9
    background_type = transparent
    font = Ubuntu Sans Mono 14
    foreground_color = "#dcdccc"
    show_titlebar = False
    palette = "#2e3436:#a82222:#398f64:#fcaf3e:#9ab8d7:#dc8cc3:#8cd0d3:#a8a4a4:#555753:#f42525:#07c164:#f7e792:#94bff3:#ec93d3:#93e0e3:#b3b3b3"
    use_system_font = False
    title_hide_sizetext = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = lykius
[plugins]
